API_SERVE_PORT=3001
DB_POOL_DATABASE=jailu
DB_POOL_HOST=localhost
DB_POOL_PASSWORD=jailu
DB_POOL_PORT=5432
DB_POOL_USER=jailu
VITE_API_BASE_URL=http://localhost:3001
WEB_ORIGIN=http://localhost:3000
WEB_URLS_NOT_FOUND=http://localhost:3000/not-found